.AddUser {
  width: 80%;
  margin: auto;
  height: 10rem;

  .name-input,
  .surname-input,
  .login-input,
  .password-input {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  form {
    height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .add-user-button {
    margin-top: 3em;

    .link {
      margin-right: 1em !important;
      color: #fffbff;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      padding: 13px 25px;
      margin: 20px 5px 5px 0;
      border-radius: 4%;
      background: #1b1b38;
      box-shadow: 5px 5px 12px #111123, -5px -5px 12px #25254d;

      &:hover,
      &:focus-visible {
        outline: none;
        border: none;
        background: #1b1b38;
        box-shadow: inset 5px 5px 12px #111123, inset -5px -5px 12px #25254d;
      }
    }
  }
}
