html {
  height: 100vh;
}

body {
  color: #fffbff;
  height: inherit;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1b1b38;
}

label {
  margin-right: 1em;
}

input {
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 10px 10px 10px;
  background-color: #1b1b38;
  border-radius: 5%;
  box-shadow: inset 4px 4px 5px #0e0e1c, inset -4px -4px 5px #29294d;

  &::placeholder {
    color: rgb(144, 137, 156);
  }

  &:hover {
    background: #1b1b38;
    box-shadow: inset 2px 2px 2px #111123, inset -2px -2px 2px #25254d;
  }
}
