.nav {
  display: flex;
  padding-top: 8px;
  margin-right: 10px;

  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;

    .link {
      color: #fffbff;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      padding: 8px 20px;
      margin: 20px 5px 5px 10px;
      background-color: #323259;
      box-shadow: 5px 5px 8px #1e1e35, -3px -3px 8px rgb(65, 65, 136);

      &:hover {
        background: #323259;
        box-shadow: inset 5px 5px 8px #1e1e35,
          inset -3px -3px 8px rgb(65, 65, 136);
      }
    }
  }
}
